#可以下载，不需要同步到git
node_modules
#env文件，配置文件、密码等数据
.env
.env.enc

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
